<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="amoj.dao.ProblemDao" >

    <select id="allProblems" resultType="amoj.entity.Problem">
        select * from problem
    </select>
    <select id="findLastId" resultType="long">
        select max(problem_id) from problem

    </select>
    <select id="findProblemById" parameterType="long" resultType="amoj.entity.Problem">
        SELECT * from problem where problem_id = #{problemId}
    </select>
    <select id="findProblemsByTitle" resultType="amoj.entity.Problem">
        SELECT * from problem where title like concat('%',#{word},'%')
    </select>

    <insert id="addProblem" parameterType="amoj.entity.Problem">
        insert into problem(problem_id,title,submit,solve,`time`,mem,`desc`,`input`,`output`,input_ex,output_ex,tip,last_submit_id)
        values (#{problemId},#{title},#{submit},#{solve},#{time},#{mem},#{desc},#{input},#{output},#{inputEx},#{outputEx},#{tip},#{lastSubmitId})
    </insert>

    <update id="updateProblemById" parameterType="amoj.entity.Problem">
        update problem
        <trim prefix="set" suffixOverrides=",">
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="submit != null and submit != ''">
                submit = #{submit},
            </if>
            <if test="solve != null and solve != ''">
                solve = #{solve},
            </if>
            <if test="time != null and time != ''">
                `time` = #{time},
            </if>
            <if test="mem != null and mem != ''">
                mem = #{mem},
            </if>
            <if test="desc != null and desc != ''">
                `desc` = #{desc},
            </if>
            <if test="input != null and input != ''">
                `input` = #{input},
            </if>
            <if test="output != null and output != ''">
                `output` = #{output},
            </if>
            <if test="inputEx != null and inputEx != ''">
                input_ex = #{inputEx},
            </if>
            <if test="outputEx != null and outputEx != ''">
                output_ex = #{outputEx},
            </if>
            <if test="tip != null and tip != ''">
                tip = #{tip},
            </if>
            <if test="lastSubmitId != null and lastSubmitId != ''">
                last_submit_id = #{lastSubmitId},
            </if>
        </trim>
        where problem_id=#{problemId}
    </update>

    <delete id="deleteProblemById" parameterType="long">
        delete from problem where  problem_id = #{problemId}
    </delete>
</mapper>